
main .container{
    width: 100%;
    height: 1050px;
}

.activity_img{
    position: absolute;
    margin: 0;
    height: 900px;
    width: 100%;
    background-image: url(../html/sub_page/sub_images/activity_back.jpg);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    transform: scale(1.1);
    z-index: -1;
    filter: blur(10px);
    opacity: 0.7;
}
.activity_box{
    min-width: 900px;
    height: 100%;
}

.activity_background{
    position: absolute;
    height: 900px;
    width: 100%;
}

.activity_background .container{
    background-color: white;
    border-right: 2px dashed #29385d;
    border-left: 2px dashed #29385d;
    width: 1250px;
    height: 100%;
}
.activity_choice{
    /*border: 1px solid red;
    background-color: lightgray;*/
    width: 970px;
    height: 750px;
}
.activity_box h2{
    padding-top: 80px;
    padding-bottom: 40px;
    text-align: center;
    color: #29385d;
}

h4{
    font-weight: normal;
    font-size: 24px;
    color: white;
    padding: 30px;
}
.activity_choice .atv_box, .activity_choice .p981_box, .activity_choice .yacht_box, .activity_choice .drone_box{
    width: 430px;
    height: 300px;
    /*border: 1px solid blue;*/
    float: left;
    margin-left: 29px;
}
.activity_choice .yacht_box, .activity_choice .drone_box{
    margin-top: 35px;
}

.activity_choice .atv_box, .activity_choice .p981_box, .activity_choice .yacht_box, .activity_choice .drone_box{
    background-color: rgb(53, 53, 53);
    position: relative;  
}
.activity_choice .water_box, .activity_choice .nexon_box, .activity_choice .cup_box, .activity_choice .foot_box{
    width: 430px;
    height: 300px;
    /*border: 1px solid blue;*/
    float: left;
    margin-left: 29px;
}
.activity_choice .cup_box, .activity_choice .foot_box{
    margin-top: 35px;
}

.activity_choice .water_box, .activity_choice .nexon_box, .activity_choice .cup_box, .activity_choice .foot_box{
    background-color: rgb(53, 53, 53);
    position: relative;  
}

.activity_choice .atv_img{
    position: absolute;
    width: 430px;
    height: 300px;
    background-image: url(../html/sub_page/sub_images/activity_atv.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.6;
    filter:blur(4px);
}
.activity_choice .water_img{
    position: absolute;
    width: 430px;
    height: 300px;
    background-image: url(../html/sub_page/sub_images/water.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.6;
    filter:blur(4px);
}

.activity_choice .p981_img{
    position: absolute;
    width: 430px;
    height: 300px;
    background-image: url(../html/sub_page/sub_images/activity_981.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    opacity: 0.6;
    filter:blur(4px);
}
.activity_choice .nexon_img{
    position: absolute;
    width: 430px;
    height: 300px;
    background-image: url(../html/sub_page/sub_images/nexon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    opacity: 0.6;
    filter:blur(4px);
}

.activity_choice .yacht_img{
    position: absolute;
    width: 430px;
    height: 300px;
    background-image: url(../html/sub_page/sub_images/activity_yacht.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    opacity: 0.6;
    filter:blur(4px);
}
.activity_choice .cup_img{
    position: absolute;
    width: 430px;
    height: 300px;
    background-image: url(../html/sub_page/sub_images/cup.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    opacity: 0.6;
    filter:blur(4px);
}

.activity_choice .drone_img{
    position: absolute;
    width: 430px;
    height: 300px;
    background-image: url(../html/sub_page/sub_images/activity_drone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.6;
    filter:blur(4px);
}
.activity_choice .foot_img{
    position: absolute;
    width: 430px;
    height: 300px;
    background-image: url(../html/sub_page/sub_images/foot.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.6;
    filter:blur(4px);
}

.text{
    position: absolute;
    opacity: 1;
    z-index: 9;
}

.container .text>h4{
    color: white;
}

header{
    background-color: rgb(131, 176, 194);
    color: white;
}

header .container nav li a{
    color: white;
}

footer{
    background-color: lightgray;
    color: white;
    bottom: 0;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    max-height: 400px;
    position: relative;
    margin-top: 40px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.food_slide1{
    background-image: url(../html/sub_page/sub_images/food_img1.jpg);
}
.food_slide2{
    background-image: url(../html/sub_page/sub_images/food_img2.jpg);
}
.food_slide3{
    background-image: url(../html/sub_page/sub_images/food_img3.jpg);
}
.traffic_slide1{
    background-image: url(../html/sub_page/sub_images/traffic_img1.jpg);
}
.traffic_slide2{
    background-image: url(../html/sub_page/sub_images/traffic_img2.jpg);
}
.traffic_slide3{
    background-image: url(../html/sub_page/sub_images/traffic_img3.jpg);
}
.traffic_slide4{
    background-image: url(../html/sub_page/sub_images/traffic_img4.jpg);
}


.food_slide1, .food_slide2, .food_slide3, .traffic_slide1, .traffic_slide2, .traffic_slide3, .traffic_slide4{
    width: 1000px;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 2s;
}

.explain_box{
    width: 1000px;
    display:flex;
}

.explain, .explain_borderNone{
    width: 333px;
    margin-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

.explain{
    border-right: 2px dashed black;
}

.explain_borderNone{
    border: none;
}

.explain .food_title, .explain_borderNone .food_title{
    font-size: 24px;
    color:rgb(59, 49, 39);
    font-style: italic;
    padding-bottom: 10px;
    padding-top: 10px;
}

.explain .food_content, .explain_borderNone .food_content{
    line-height: 1.4em;
    font-size: 14px;
    color:rgb(59, 49, 39);
}

.explain .traffic_title, .explain_borderNone .traffic_title{
    font-size: 24px;
    color:rgb(39, 53, 73);
    font-style: italic;
    padding-bottom: 10px;
    padding-top: 10px;
}

.explain .traffic_content, .explain_borderNone .traffic_content{
    line-height: 1.4em;
    font-size: 14px;
    color:rgb(39, 41, 59);
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

