
main .container{
    width: 1215px;
    height: 600px;
}
.activity_choice{
    /*border: 1px solid red;
    background-color: lightgray;*/
    width: 970px;
    height: 450px;
}
.activity_box h2{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.sub_menu{
    margin-top: 230px;
}

.sub_menu ul li{
    padding-bottom: 10px;
    border-bottom: 1px dashed rgb(226, 200, 133);
}

h4{
    font-weight: normal;
    font-size: 24px;
    color: white;
    padding: 30px;
}
.activity_choice .atv_box, .activity_choice .p981_box, .activity_choice .yacht_box, .activity_choice .drone_box{
    width: 430px;
    height: 200px;
    /*border: 1px solid blue;*/
    float: left;
    margin-left: 29px;
}
.activity_choice .yacht_box, .activity_choice .drone_box{
    margin-top: 35px;
}

.activity_choice .atv_box, .activity_choice .p981_box, .activity_choice .yacht_box, .activity_choice .drone_box{
    background-color: black;
    position: relative;
}

.activity_choice .atv_img{
    position: absolute;
    width: 430px;
    height: 200px;
    background-image: url(../html/sub_page/sub_images/nextday.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.6;
}

.activity_choice .p981_img{
    position: absolute;
    width: 430px;
    height: 200px;
    background-image: url(../html/sub_page/sub_images/nextday.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.6;
}

.activity_choice .yacht_img{
    position: absolute;
    width: 430px;
    height: 200px;
    background-image: url(../html/sub_page/sub_images/nextday.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.6;
}

.activity_choice .drone_img{
    position: absolute;
    width: 430px;
    height: 200px;
    background-image: url(../html/sub_page/sub_images/nextday.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.6;
}

.text{
    position: absolute;
    opacity: 1;
    z-index: 9;
}

.container .text>h4{
    color: white;
}

header{
    background-color: lightblue;
    color: white;
}

header .container nav li a{
    color: white;
}

footer{
    background-color: lightpink;
    color: white;
}