body{
    height: 100vh;
}
main .container{
    width: 100%;
}
header h2, header .container li a{
    color: white;
}
.mainImg{
    position: absolute;
    margin: 0;
    height: 100vh;
    width: 100%;
    background-image: url(../main_image/main_image1.jpg);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.75;
}
.background{
    background-color:/* rgb(130, 198, 198);*/ black;
    height: 100vh;
    width: 100%;
}

.hi{
    width: 100%;
    height: 600px;
    position: absolute;
    opacity: 1;
    z-index: 9;
}
.container .hi>h2{
    text-align: center;
    font-style: italic;
    font-size: 60px;
    font-weight: bold;
    color: white;
    margin-top: 10%;
}

.container .background .hi .button{
    border: 7px solid white;
    border-radius: 30px;
    width: 235px;
    height: 50px;
    margin: 0 auto;
    margin-top: 15px;
}
.button h4{
    text-align: center;
    color: white;
    font-size: 16px;
    padding-top: 10px;
}

.container .background .hi .button:hover{
    background-color: rgb(89, 130, 156);
    border: 7px solid white;
}

header{
    background-color: rgb(161, 186, 211);
}

footer{
    background-color: rgb(205, 208, 126);
    position: sticky;
    bottom: 0;
}

footer .copyright{
    color: white;
}