.sub_menu{
    margin-top: 100px;
    float: left;
    height: 200px;
}
.sub_menu a{
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #999;
}
.sub_menu li{
    margin: 20px 0 0 10px;
}
.sub_menu a:hover{
    color: blue;
}
.subpage_contentbox{
    border: 1px solid currentColor;
}