main .container{
    width: 70%;
    display: flex;
}
.sub_menu{
    margin-top: 100px;
    float: left;
    height: 200px;
    min-width: 130px;
    position: relative;
    display: flex;
    margin-right: 100px;
}
.sub_menu a{
    display: flex;
}
.sub_menu li{
    margin: 20px 0 0 10px;
}
.sub_menu a:hover{
    color: blue;
}
.subimg_1{
    width: 100px;
    height: 150px;
    display: flex;
    position: relative;
}
